html, body{
    width: 100%;
    height: 100%;
    padding: 0;
    color: #547980;
    font-size: 18px;
}

body {
    text-align: center;
}
    .container-fluid {
        height: 100%;
    }
        .wrapper {
            min-height: 100%;
        }
            .header {
                background: #E5FCC2;
                padding: 10px;
                margin-bottom: 40px;
            }
                .header h1 {
                    margin: 0;
                    padding-top: 5px;
                    text-align: left;
                }
            .navigation {
                text-align: left;
                background: #45ADA8;
            }
                .nav {
                    list-style-type: none;
                    text-align: center;
                    margin: 0;
                    padding: 0 40px 0 40px;
                }
                .nav-item {
                    display: inline-block;
                    font-size: 20px;
                    height: 100%;
                    padding: 10px;
                }
                .nav-item:hover {
                    background:#9DE0AD ;
                }
            .main {
                background: #9DE0AD;
                padding: 0 20px 40px 20px;
            }
                .weather-container {
                    display: flex;
                    flex-wrap: wrap;
                }
                    .current {
                        font-size: 24px;
                    }
                        .current .weather-img {
                            width: 150px;
                        }
                    .weather {
                        padding: 5px;
                    }
                        .weather:hover {
                            background: #E5FCC2;
                        }
                            .weather:hover .weather-img {
                                animation: image-rotation 2s;
                            }
                                @keyframes image-rotation {
                                    0% {
                                        transform: rotate(0deg);
                                    }
                                    25% {
                                        transform: rotate(45deg);
                                    }
                                    75% {
                                        transform: rotate(-45deg);
                                    }
                                }
                        .weather-info {
                            padding: 0 20px 0 20px;
                            vertical-align: middle;
                        }
                            dt, dd {
                                display: inline;
                                margin: 0;
                            }

                            dd:after {
                                content: '\A';
                                white-space: pre;
                            }
            .hFooter {
                height: 100px;
            }
        .footer {
            background: #45ADA8;
            margin-top: -70px;
            padding: 20px;
        }

    @media only screen and (max-width: 1430px) {
        .current {
            font-size: 22px;
        }
    }

    @media only screen and (max-width: 1290px) {
        .current {
            font-size: 20px;
        }
    }

    @media only screen and (max-width: 1180px) {
        .current {
            font-size: 18px;
        }
    }

    @media only screen and (max-width: 1070px) {
        body, .current {
            font-size: 16px;
        }
    }

    @media only screen and (max-width: 875px) {
        body, .current {
            font-size: 14px;
        }
            .current .weather-img {
                width: 100px;
            }
    }

    @media only screen and (max-width: 770px) {
        .header h1 {
            text-align: center;
        }
    }

    @media screen and (max-width: 246px) {
        body{
            width: 247px;
        }

    }

